mixin diagram({ parent, values })
  -const colors = ['#4f4f4f', '#e75735', '#28a290'];
  svg(class="diagram",
    class= parent ? `${parent}__diagram` : "",
    viewBox="0 0 95 95")
    circle(r="39", cx="50%", cy="50%", class="diagram__circle", stroke="#e5e5e5")
    -let offset = 0;
    - for(let i = 0; i < values.length; i++) {
        -let length = (244.92 * values[i]) / 100;
        circle(r="39", cx="50%", cy="50%", class="diagram__circle", stroke=`${colors[i]}`, stroke-dasharray=`${length} 244.92`, stroke-dashoffset=`${offset}`)
        -offset -= length; 
    - }
