mixin messaging({ name, img, text, large })
  .messaging(class = large ? "messaging_large" : "")
    .messaging__title= name
    .messaging__user
      button.messaging__btn.messaging__btn-message
      .messaging__image-container
        img.messaging__image(src=require(`../../components/kit/messaging/img/${img}`), alt=name)
      button.messaging__btn.messaging__btn-camera
    p.messaging__message= text
    form.messaging__reply(action="#")
      textarea.messaging__text(name="message")
      .messaging__reply-btn
        +button({ text: 'reply', color: 'greenFill', size: 'big' })