mixin messaging({ name, img, text, large = "" })
  -
    const defaultClass = "messaging" 
    const sizeClass = large && `${defaultClass}_large`
  div(class= `${defaultClass} ${sizeClass}`)
    .messaging__title= name
    .messaging__user
      button.messaging__btn.messaging__btn-message
      .messaging__image-container
        img.messaging__image(src=require(`../../components/kit/messaging/img/${img}`), alt=name)
      button.messaging__btn.messaging__btn-camera
    p.messaging__message= text
    form.messaging__response(action="#")
      textarea.messaging__text(name="message")
      .messaging__response-btn
        +button({ text: 'reply', size: 'big', theme: 'green' })