mixin user({ img, name, profession, style = "" })
  -
    const defaultClass = "user"
    const colorClass = style && `${defaultClass}_color_${style}`
  div(class = `${defaultClass} ${colorClass}`)
    include ./img/sprite.svg
    .user__pic
      img.user__img(src=require(`../images/${img}`), alt= name)
    .user__info
      span.user__name= name
      span.user__profession= profession
        .user__social-icons
          .social-icons
            -
              const linksData = [
                {
                  href: '/change-me',
                  name: 'facebook',
                  imageId: 'facebook-letter-logo'
                },
                {
                  href: '/change-me',
                  name: 'twitter',
                  imageId: 'twitter-logo-silhouette',
                  size: 'big'
                },
                {
                  href: '/change-me',
                  name: 'dribbble',
                  imageId: 'dribbble-logo'
                },
              ]
            each link in linksData
              -
                const sizeClass = link.size === 'big' ? 'social-icons__icon_size_big' : ''
              a.social-icons__link(href=`${link.href}`, target="_blank", rel="noopener noreferrer")
                svg.social-icons__icon(class=`${sizeClass}`)
                  use(xlink:href=`#${link.imageId}`)
                