mixin event({ day, month, title, img, text })
  article.event
    .event__image(style=`background-image: url('./images/${img}')`)
    .event__content
      span.event__date
        span.event__day= day
        = ` ${month}`
      span.event__title= title
      p.event__description= text
      .event__button
        +button({ text: 'ADD  TO  CALENDAR', color: 'green', size: 'standart' })