mixin arrowBtn({ disable = "", direction = "prev", fill = "" } = {})
  -
    const defaultClass = "arrow-btn"
    const directionClass = direction && `${defaultClass}_${direction}`
    const fillClass = fill && `${defaultClass}_fill`
    const disabledClass = disable && `${defaultClass}_disabled`
    const ariaLabel = direction === "prev" ? "Предыдущий" : "Следующий"
  button(class = `${defaultClass} ${directionClass} ${disabledClass} ${fillClass}`,
         disabled = disable===true,
         aria-label = ariaLabel)
