mixin arrow-button({ disable = "", direction = "left", theme = "white" } = {})
  -
    const defaultClass = "arrow-button"
    const directionClass = direction && `${defaultClass}_direction_${direction}`
    const themeClass = theme && `${defaultClass}_theme_${theme}`
    const disabledClass = disable && `${defaultClass}_disabled`
    const ariaLabel = direction === "left" ? "Предыдущий" : "Следующий"
  button(class = `${defaultClass} ${directionClass} ${disabledClass} ${themeClass}`,
         disabled = disable===true,
         aria-label = ariaLabel)
