mixin button({ text, color = "green", size = "standart", fill = true } = {})
  -
    const defaultClass = "main-btn"
    const colorClass = color && `${defaultClass}_${color}`
    const fillClass = fill && `${defaultClass}_${color}_filled`
    const sizeClass = size && `${defaultClass}_${size}`
  button(class = `${defaultClass} ${colorClass} ${fillClass} ${sizeClass}`)= text