mixin button({ text, theme = "white-green", size = "standart" } = {})
  -
    const defaultClass = "main-button"
    const jsClass = `js-${defaultClass}`
    const themeClass = theme && `${defaultClass}_theme_${theme}`
    const sizeClass = size && `${defaultClass}_size_${size}`
  button(class = `${defaultClass} ${themeClass} ${sizeClass} ${jsClass}`)= text